/*
        PRP Project
        Copyright (C) 2020  The PRP Project

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/

@import "../../../scss/styles";

/******************************
 Calendar Daily View
 *****************************/

$time-column-width: 60px;

.calendar-container {
  display: grid;
  grid-template-columns: $time-column-width auto;
  grid-template-rows: auto;
  gap: 1px 1px;
  grid-template-areas: ". header" "timeslots-container main";

  li {
    list-style: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
  }

  .calendar-head {
    background-color: $secondary-color;
    grid-area: header;
    color: white;
    border-radius: 5px;

    .dayname {
      font-weight: bold;
      padding: 5px;
    }

    .daynumber {
      background-color: $primary-color;
      padding: 5px;
    }

    .dayname & .daynumber {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .timeslots-container {
    background-color: lightgray;
    grid-area: timeslots-container;
    justify-items: left;

    .timeslots {
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        min-height: 60px;
        min-width: $time-column-width;

        &:after {
          content: "";
          position: absolute;
          left: 10px;
          width: 98%;
          height: 1px;
          background: #afafaf;
          z-index: 1;
        }
      }
    }
  }

  .events-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* 24 (Hours) Rows * 4 (bc. 15 = one row) = 96*/
    grid-template-rows: repeat(96, 1fr);
    grid-area: main;
    position: relative;
    white-space: nowrap;

    .slot {
      position: absolute;
      background: $primary-color;
      border-radius: 5px;
      z-index: 2;
      border-color: $secondary-color;
      outline: none;
      cursor: pointer;

      .event-status {
        float: left;
        border-left: 3px solid rgb(71, 235, 93);
        height: 100%;
      }

      .event-name, .event-description, .event-location, .event-date {
        overflow: hidden;
        color: #fff;
        display: flex;
        align-items: center;
        font-size: .8rem;
        letter-spacing: 0.1px;
        line-height: 15px;
      }
    }
  }
}

#allDayCheckbox {
  float: left;
  max-width: 40px;
  margin-right: 10px;
}

#allDayCheckboxLabel {
  margin-top: 7px;
}

/******************************
 Calendar List
 *****************************/

.calendar-not-found-message {
  color: black;
}

.calendarList {
  text-align: center;

  .calendarItemCard {
    width: 95%;
    padding: 10px;
    text-align: left;
    margin: 0 auto 10px;
    background-color: #efefef;
    color: #000;
    border: none;
    border-bottom: 5px solid $primary-color;
    border-radius: 5px;
    cursor: pointer;

    i {
      width: 10%;
    }
  }
}

/******************************
 Event Detail Page
 *****************************/

.eventDetailPage {

  .detailPageForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;

    input, select, textarea {
      margin-bottom: 15px;
    }

    label {
      float: left;
      margin-bottom: 0;
    }

    .event-detail-title {
      text-align: center;
    }

    #eventDetailTitle {
      display: inline;
    }

    #eventDetailSaveButton {
      float: right;
    }

    #eventDetailDeleteButton {
      float: left;
    }
  }
}

/******************************
 Calendar Event View
 *****************************/

.event-view-page {

  .event-day-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid #90a1ab;

    .event-day {
      color: $secondary-color;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      width: 65px;
      text-align: right;

      .event-day-day {
        font-size: 1.1rem;
        font-weight: bold;
      }

      .event-day-name {
        color: #90a1ab;
      }

    }

    .events-container {
      .slot {
        background-color: $primary-color;
        border-radius: 5px;
        margin-left: 5%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        color: #fff;
        margin-bottom: 10px;

        .event-name {
          font-weight: bold;
        }

        .event-description {
          margin-bottom: 0;
        }
      }
    }
  }
}

/******************************
 Add Button Css
 *****************************/

.add-btn {
  position: fixed;
  height: 60px;
  width: 60px;
  outline: none;
  border: none;
  border-radius: 50%;
  bottom: 25px;
  right: 25px;
  background-color: #eee;
  transition: .3s;
  z-index: 99;

  &:active {
    background-color: #ddd;
  }
}

.add-menu {
  position: fixed;
  bottom: 10px;
  right: 25px;
  text-align: right;
  list-style-type: none;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  z-index: 9999;

  li {
    &:first-child {
      margin-bottom: 35px;
    }

    div {
      display: inline-flex;
      text-align: center;
      padding: 8px;
      text-decoration: none;
      border-bottom: 2px solid $primary-color;
      color: #fff;

      i, svg {
        color: #17a2b9;
        transform: translate(-5px, 1px)
      }

    }

    .add-menu-btn {
      .add-menu-btn-text {
        transform: translate(2px, -2px);
      }
    }
  }
}

.add-menu-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-100px);
}

.modal-content {
  z-index: 9998;
}

.btn-primary {
  background-color: $primary-color;
}

/******************************
 Modal Template Styling
 *****************************/

.form {
  display: flex;
  flex-direction: column;
  text-align: left;

  label {
    float: left;
  }

  input, select, textarea {
    margin-bottom: 15px;
  }

  #error-text-task-end-date {
    margin-bottom: 15px;
  }
}

#modal-div-template {

  label {
    margin-bottom: 0;
  }

  #modal-div {
    background-color: #616161;
    padding: 15px;

    #close-button {
      color: #fff;
      opacity: 1;
      float: left;
      transform: translateY(5px);
    }

    #modal-title {
      color: #ffffff;
      display: inline-block;
      margin-left: 0.5em;
      font-size: 1.1rem;
      transform: translateY(5px);
    }

    #modal-button {
      float: right;
      border: none;
    }
  }
}

/******************************
 Switch Button Styling
 *****************************/

.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
  justify-content: center;

  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;

    &:checked {
      & + label {
        background-color: $primary-color;
        box-shadow: none;
      }
    }
  }

  label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;

    &:hover {
      cursor: pointer;
    }

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }

  #allDayCheckbox {
    float: left;
    max-width: 40px;
    margin-right: 10px;
  }

  #allDayCheckboxLabel {
    margin-top: 7px;
  }

}
