<!--PRP Project
Copyright (C) 2020  The PRP Project

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script async src="plugins/calendar/scripts.js" type="text/javascript"></script>
<link href="plugins/calendar/styles.css" rel="stylesheet" type="text/css">

<!-- Content -->
<div class="title-area" id="title-area">

</div>

<div class="container-fluid" id="calendarContent">
    <div class="calendarList" id="calendarList">
    </div>
</div>

<!-- Plus Button -->
<button class="add-btn" onclick="toggleAddMenu()">
    <i class="fas fa-plus"></i>
</button>

<ul class="add-menu" id="addMenu">
    <li>
        <div data-target="#createCalendarModal" data-toggle="modal" onclick="removeAddMenu()">
            <i class="fas fa-calendar-alt"></i>
            <span id="createCalendarPlusButton"></span>
        </div>
    </li>
</ul>

<!-- Templates -->
<!-- Title Template -->
<template id="calendarTitleTemplate">
    <h3 class="page-title" id="titleCalendarPlugin"></h3>
</template>

<template id="calendarsNotFound">
    <span class="calendar-not-found-message" id="calendarNotFoundMessage"></span>
</template>

<!-- Modal Template-->
<template id="modalTemplate">
    <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modal-div-template">
                <div id="modal-div">
                    <button aria-label="Close" class="close" data-dismiss="modal" id="close-button" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button class="btn btn-primary" id="modal-button" type="button"></button>
                </div>
                <div class="modal-body" id="modalBody">
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Template for a form to create a calendar-->
<template id="createCalendarFormTemplate">
    <form class="form" name="createCalendarForm">
        <label for="calendarTitle"></label>
        <input class="form-control input-md" id="calendarTitle" type="text">
        <label class="errorLabel" hidden=true id="errorTextCalendarTitle"></label>

        <label for="calendarDescription"></label>
        <textarea class="form-control input-md" id="calendarDescription" rows="3"></textarea>
    </form>
</template>

<!-- Template for calendar item-->
<template id="calendarItemTemplate">
    <a class="calendarItemAnchor">
        <div class="card calendarItemCard">
            <div class="cardHeader calendarItemCardHeader">
                <i class="fas fa-calendar-alt"></i>
                <p class="calendarItemTitle"></p>
            </div>
            <div class="cardBody calendarItemCardBody">
                <p class="calendarItemDescription"></p>
            </div>
        </div>
    </a>

</template>
