<!--PRP Project
Copyright (C) 2020  The PRP Project

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script async src="plugins/calendar/scripts.js" type="text/javascript"></script>
<link href="plugins/calendar/styles.css" rel="stylesheet" type="text/css">

<!-- Title -->
<div class="title-area" id="title-area">

</div>

<!-- Content -->
<div class="container-fluid" id="calendarContent">

    <!-- Switch Button -->
    <div class="switch-field">
        <input checked id="switch-button-radio-one" name="switch-one" type="radio" value=""/>
        <label for="switch-button-radio-one" id="switch-button-radio-one-label"></label>
        <input id="switch-button-radio-two" name="switch-one" type="radio" value=""/>
        <label for="switch-button-radio-two" id="switch-button-radio-two-label"></label>
    </div>

</div>

<!-- Plus Button -->
<button class="add-btn" onclick="toggleAddMenu()">
    <i class="fas fa-plus"></i>
</button>

<ul class="add-menu" id="addMenu">
    <li>
        <div data-target="#createEventModal" data-toggle="modal" onclick="removeAddMenu()">
            <i class="fas fa-plus-circle"></i>
            <span id="createEventPlusButton"></span>
        </div>
    </li>
</ul>

<!-- Templates -->
<!-- Title Template -->
<template id="calendarTitleTemplate">
    <h3 class="page-title" id="titleCalendarPlugin"></h3>
</template>

<!-- Calendar Template-->
<template id="day-view-template">
    <div class="calendar-container">
        <div class="header">
        </div>
        <div class="calendar-head">
            <ul class="dayname">
                <li id="day"></li>
            </ul>

            <ul class="daynumber">
                <li id="number"></li>
            </ul>
        </div>

        <div class="timeslots-container">
            <ul class="timeslots">
                <li>
                    0 Uhr
                </li>
                <li>
                    1 Uhr
                </li>
                <li>
                    2 Uhr
                </li>
                <li>
                    3 Uhr
                </li>
                <li>
                    4 Uhr
                </li>
                <li>
                    5 Uhr
                </li>
                <li>
                    6 Uhr
                </li>
                <li>
                    7 Uhr
                </li>
                <li>
                    8 Uhr
                </li>
                <li>
                    9 Uhr
                </li>
                <li>
                    10 Uhr
                </li>
                <li>
                    11 Uhr
                </li>
                <li>
                    12 Uhr
                </li>
                <li>
                    13 Uhr
                </li>
                <li>
                    14 Uhr
                </li>
                <li>
                    15 Uhr
                </li>
                <li>
                    16 Uhr
                </li>
                <li>
                    17 Uhr
                </li>
                <li>
                    18 Uhr
                </li>
                <li>
                    19 Uhr
                </li>
                <li>
                    20 Uhr
                </li>
                <li>
                    21 Uhr
                </li>
                <li>
                    22 Uhr
                </li>
                <li>
                    23 Uhr
                </li>
            </ul>
        </div>
        <div class="events-container">

        </div>
    </div>
</template>

<!-- Event Template-->
<template id="event-template">
    <a class="event-anchor slot">
        <div class="event-status"></div>
        <span class="event-name"></span>
        <span class="event-date"></span>
        <span class="event-location"></span>
        <p class="event-description"></p>
    </a>
</template>

<!-- Modal Template-->
<template id="modalTemplate">
    <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modal-div-template">
                <div id="modal-div">
                    <button aria-label="Close" class="close" data-dismiss="modal" id="close-button" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button class="btn btn-primary" id="modal-button" type="button"></button>
                </div>
                <div class="modal-body" id="modalBody">
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Template for a form to create a event-->
<template id="createEventFormTemplate">
    <form class="form" id="createEventForm">
        <label for="eventTitle"></label>
        <input class="form-control input-md" id="eventTitle" type="text">

        <div class="input-group mb-3">
            <input class="form-control input-md" id="allDayCheckbox" type="checkbox">
            <label for="allDayCheckbox" id="allDayCheckboxLabel"> </label>
        </div>

        <label for="eventStartDate"></label>
        <input class="form-control input-md" id="eventStartDate" onchange="" type="datetime-local">

        <label for="selectedEventDuration"></label>
        <select class="form-control input-md" id="selectedEventDuration"></select>

        <label for="eventEndDate"></label>
        <input class="form-control input-md" id="eventEndDate" type="datetime-local">
        <label class="errorLabel" hidden=true id="errorTextEventEndDate"></label>

        <label for="eventLocation"></label>
        <input class="form-control input-md" id="eventLocation" type="text">

        <label for="eventDescription">:</label>
        <textarea class="form-control input-md" id="eventDescription" rows="3"></textarea>
    </form>
</template>
